.main-container {
  margin: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.task-form {
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
}

.note-container {
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.note-title {
 font-weight: bold;
 margin-bottom: 5px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.note-desc {
  word-wrap: break-word;
}

.notes-container {
  margin-top: 20px;
}

input[type=text], input[type=textarea] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #dd3439;
  color: white;
  padding: 7px 20px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #bb1f24;
}